<server description="Credit Score Service Application">

  <!-- tag::featureManager[] -->
  <featureManager>
    <feature>jaxrs-2.1</feature>
    <feature>jsonp-1.1</feature>
    <feature>cdi-2.0</feature>
    <feature>mpMetrics-2.0</feature>
    <feature>mpRestClient-1.3</feature>
  </featureManager>
  <!-- end::featureManager[] -->

  <!-- tag::httpEndpoint[] -->
  <httpEndpoint httpPort="9080" httpsPort="9443"
                id="defaultHttpEndpoint" host="*" />
  <!-- end::httpEndpoint[] -->

  <keystore id="defaultKeyStore" password="password"/>
  
  <!-- tag::webApplication[] -->
  <webApplication location="credit-score.war" contextRoot="credit-score"/>
  <!-- end::webApplication[] -->

  <mpMetrics authentication="false"/> 

</server>
